{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"prettier",
		"airbnb",
		"airbnb/hooks",

		"plugin:@typescript-eslint/recommended",

		"plugin:prettier/recommended"
	],
	"rules": {
		"no-console": ["error", { "allow": ["warn", "error", "info"] }],
		"import/no-unresolved": "off",
		"import/extensions": ["error", "never"],
		"react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
		"react/self-closing-comp": "error"
	},
	"parserOptions": {
		"project": "./tsconfig.json"
	}
}
